.app {
    height: 100vh;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

@media (width >= 48em) {
    .app {
        overscroll-behavior-y: none;
        display: flex;
        flex-direction: row;
        position: relative;
    }
}
